<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yahoo quote parser by st4ck3r</title>
    <style>
        .titleboi{
            color: #2eec71;
            font: 48px Monospace;
        }

        .textiboi{
            color: gray;
            font: 20px Monospace;
        }
        .linkboi{
            color: gray;
            font: 20px Monospace;
            transition: 600ms;
        }
        .linkboi:hover{
            color: #2eec71;
            transition: 600ms;
        }
    </style>
</head>
<body style="background: url('https://arturyud.in/img/st4ck3r_dark_blured_bg.jpg')">
    <div style="position: fixed;top: 45%;left: 29.5%; text-align: center;">
        <div class="titleboi">Yahoo quotes parser</div>
        <div class="textiboi">Made by st4ck3r Contact: <a href="https://arturyud.in/" class="linkboi">arturyud.in</a></div>
        <div class="textiboi">Just make request <a href="/get_quote?quote=PD" class="linkboi">/get_quote?quote=NAME-OF-QUOTE(for example there PD)</a></div>
    </div>
</body>
</html>